<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="DEV_HOME" value="logs"/>

  <appender name="FILE-AUDIT"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${DEV_HOME}/log.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss} - %msg%n
      </Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${DEV_HOME}/archived/log.%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

  </appender>

  <!-- Setting up logging pattern for console logging -->
  <appender name="ConsoleOutput"
            class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %white(%d{ISO8601}) %highlight(%-5level) [%yellow(%t)] : %msg%n%throwable
      </Pattern>
    </layout>
  </appender>

  <logger name="com.doc.mgt.system.docmgt" level="info"
    additivity="false">
    <appender-ref ref="FILE-AUDIT"/>
    <appender-ref ref="ConsoleOutput" />
  </logger>

  <root level="info">
    <appender-ref ref="FILE-AUDIT"/>
    <appender-ref ref="ConsoleOutput" />
  </root>


</configuration>